
{% comment %} if {% endcomment %}
{%- if block.settings.horizontal_alignment == "middle" -%}
  {%- assign align_css = 'margin: 0 auto;' -%}

{% elsif block.settings.horizontal_alignment == "right" %}
  {%- assign align_css = 'margin: auto 0 0 auto;' -%}
{%- endif -%}

{% comment %} padding: 0.7em 2.3em 0.7em 2.3em; {% endcomment %}

<button id='openModal' class="openModal" style='{{align_css}}text-align: center;display:block;background: {{block.settings.preview_button_bg_color}};border: none;color: {{block.settings.preview_button_fg_color}};font-size: 1em;padding-top: {{block.settings.top_padding | append: "px"}};padding-left: {{block.settings.left_padding | append: "px"}}; padding-right: {{block.settings.right_padding | append: "px"}}; padding-bottom: {{block.settings.bottom_padding | append: "px"}};  cursor: pointer;'>{{block.settings.preview_button_text}}</button>


<script>


var variants = [];
var default_variant = "{{product.selected_or_first_available_variant.id}}";


{%- for variant in product.variants -%}

  var variant = {id: "{{variant.id}}"};

  variants["{{variant.id}}"] = variant;

{%- endfor -%}

</script>
    <div id="delete-record" style="display: none; height: 100vh;">
      <div style='height: 100vh;' class="popup-container">


{%- for direct_file_url in product.metafields.product_vibes_files.file_direct_urls.value -%}

  <iframe id="preview-btn-frame" width="100%" style="height: 100vh;" src="{{'https://docs.google.com/gview?embedded=true&url=' | append: direct_file_url | append: '#statusbar=0&navpanes=0&toolbar=0&zoom=scale' }}">

  </iframe>

<script>
  var iframe = document.getElementById("preview-btn-frame");
  
  function reloadFrame() {
    iframe.src = 
  }

</script>

{%- else -%}

{%- endfor -%}
      </div>
    </div>

{% schema %}
  {
    "name": "Preview PDF Button",
    "target": "section",
    "stylesheet": "image-gallery.css",
    "javascript": "image-gallery.js",
    "templates": ["product"],
    "settings": [

       {
        "type": "richtext",
        "id": "preview_button_text",
        "label": "Button text",
        "default": "<p>Preview PDF</p>"
      },

      {
        "type": "select",
        "id": "horizontal_alignment",
        "label": "Horizontal alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "middle",
            "label": "Middle"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "middle"
      },

      {
        "type": "color",
        "id": "preview_button_fg_color",
        "label": "Button text color",
        "default": "#000000"
      },

      {
        "type": "color",
        "id": "preview_button_bg_color",
        "label": "Button background color",
        "default": "#EDEDF0"
      },


      {
      "type": "range",
      "id": "top_padding",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Top padding",
      "default": 0
    },


      {
      "type": "range",
      "id": "bottom_padding",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Bottom padding",
      "default": 0
    },

      {
      "type": "range",
      "id": "left_padding",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Left padding",
      "default": 106
    },

      {
      "type": "range",
      "id": "right_padding",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Right padding",
      "default": 106
    }

    

      

    ]
  }
{% endschema %}
